<h4>Flights</h4>

<table class="table table-hover ">

    <thead class="thead">
        <th>Flight Number</th>
        <th>Origin</th>
        <th>Origin Date</th>
        <th>Destination</th>
        <th>Destination Date</th>
    </thead>

    <tr *ngFor="let flight of flightsList" 
        [ngClass]="flight.selected ? 'table-active cursor-default font-weight-bold' : 'pointer'"
        (click)="onSelectFlight(flight)">

        <td>{{ flight.num }}</td>
        <td>{{ flight.from }}</td>
        <td>{{ flight.from_date }}</td>
        <td>{{ flight.to }}</td>
        <td>{{ flight.to_date }}</td>

    </tr>
</table>